<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css"></link>
    <style>
      html, body {
        overflow: hidden;
      }

      .container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div style="padding-left: 5px; padding-right: 5px;">
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Scanning Text</span>
        </div>
        Scanning Text
      </div>
    </div>
  </body>
</html>
